/* Cascating Stylesheet */
html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg);
  width: 372px;
  height: 812;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}
