* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6, 13);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smooth: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.svg);
  width: 372px;
  height: 812px;
}

.container {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}
h1 {
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}
